
<section class="src-componentes-formulario">
    <div class="jumbotron">

      <h2>Formulario notas</h2>
      <hr>
      <br>

      <div v-if="this.lista.length==0" class="alert alert-warning" role="alert">
        No hay notas registradas.
      </div>

      <vue-form :state="formState" @submit.prevent="sendDates()">

        <validate tag="div">
          <label for="nombre">Nombre</label>
          <input 
            type="text" 
            id="nombre" 
            name="nombre" 
            class="form-control"
            autocomplete="off"
            v-model="formData.nombre"
            required
            :minlength="nombreLengthMin"
            :maxlength="nombreLengthMax"
            no-espacios
          >
          <field-messages name="nombre" show="$dirty">
            <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>            
            <div slot="no-espacios" class="alert alert-danger mt-1">
              No se permiten espacios en este campo
            </div>         
            <div slot="minlength" class="alert alert-danger mt-1">
              Este campo requiere como mínimo {{ nombreLengthMin }} caracteres
            </div>            
            <div v-if="formData.nombre.length == nombreLengthMax" class="alert alert-warning mt-1">
              Este campo debe tener como máximo {{ nombreLengthMax }} caracteres
            </div>            
          </field-messages>

        </validate>
        <br>

        <validate tag="div">
          <label for="apellido">Apellido</label>
          <input 
            type="text" 
            id="apellido" 
            name="apellido" 
            class="form-control"
            autocomplete="off"
            v-model="formData.apellido"
            required
            :minlength="nombreLengthMin"
            :maxlength="nombreLengthMax"
            no-espacios
          >
          <field-messages name="apellido" show="$dirty">
            <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>            
            <div slot="no-espacios" class="alert alert-danger mt-1">
              No se permiten espacios en este campo
            </div>            
            <div slot="minlength" class="alert alert-danger mt-1">
              Este campo requiere como mínimo {{ nombreLengthMin }} caracteres
            </div>            
            <div v-if="formData.apellido.length == nombreLengthMax" class="alert alert-warning mt-1">
              Este campo debe tener como máximo {{ nombreLengthMax }} caracteres
            </div>            
          </field-messages>

        </validate>
        <br>

        <validate tag="div">
          <label for="nota">Nota</label>
          <input 
            type="number" 
            id="nota" 
            name="nota" 
            class="form-control"
            autocomplete="off"
            v-model.number="formData.nota"
            required
            :min="notaMin"
            :max="notaMax"
          >
          <field-messages name="nota" show="$dirty">
            <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>            
            <div slot="min" class="alert alert-danger mt-1">La nota tiene que ser mayor a 0.</div>            
            <div slot="max" class="alert alert-danger mt-1">La nota máxima permitida es de {{notaMax}}.</div>            
          </field-messages>

        </validate>
        <br>

        <button class="btn btn-success my-3" :disabled="formState.$invalid" type="submit">Enviar</button>

      </vue-form>

      <hr>


      <div class="table-responsive">
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Nota</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(usuario,index) in lista" :key="index">
              <td>{{usuario.nombre}} {{usuario.apellido}}</td>
              <td :style="usuario.nota<=3?{color:'red'}:usuario.nota>=7?{color:'green'}:{color:'yellow'}">{{usuario.nota}}</td>
            </tr>
            <tr v-if="this.obtenerPromedio()>0" :style=getEstilo()>
              <td>PROMEDIO TOTAL</td>
              <td>{{this.obtenerPromedio()}}</td>
            </tr>
          </tbody>
        </table>
      </div>



    </div>
  </div>
</section>

